<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="MicrosoftAppId" value=""/>
    <add key="MicrosoftAppPassword" value=""/>
    <add key="SecretUri" value="https://asksapbot-dev-kv.vault.azure.net/"/>
    <add key="KeyVaultThumbprint" value="F6D0E59FFE02F203FF2082B8E922E063503941BC"/>
    <!--Luis setting-->
    <!--<add key="LuisURL" value="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/" />
    <add key="LuisAppId" value="01f57024-70b3-4c4f-b219-803102e1ed28" />
    <add key="luis:ModelId" value="01f57024-70b3-4c4f-b219-803102e1ed28" />
    <add key="luis:SubscriptionId" value="8ae492516bbf4aadbc78ed0cec81945e" />-->
    <add key="luis:UriBase" value="https://eastus2.api.cognitive.microsoft.com/luis/v2.0/apps/"/>
    <add key="luis:Domain" value="eastus2.api.cognitive.microsoft.com"/>
    <add key="luis:ModelId" value="eaecc76f-d897-4670-9251-0a0110565882"/>
    <add key="luis:SubscriptionId" value=""/>
    <!--Document Db settings-->
    <!--<add key="DocDbEndpointurl" value="https://asksapbotqa.documents.azure.com:443/" />
    <add key="DocDbName" value="AskSAPBotQADb" />
    <add key="DocDbCollection" value="AskSAPBotQACollection" />-->
    <!-- AAD Auth v2 settings-->
    <add key="ActiveDirectory.AppId" value="97f5764a-5268-4be2-a667-76abfbaf7c3a"/>
    <add key="ActiveDirectory.Mode" value="v2"/>
    <add key="ActiveDirectory.Scopes" value="User.Read"/>
    <add key="ActiveDirectory.EndpointUrl" value="https://login.microsoftonline.com"/>
    <add key="ActiveDirectory.Tenant" value="common"/>
    <!--Service settings-->
    <add key="ResourceId" value="https://microsoft.onmicrosoft.com/dSAPWSAADApp"/>
    <add key="AADInstance" value="https://login.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47"/>
    <add key="Ocp-Apim-Subscription-Key" value=""/>
    <!--Realtrack service settings-->
    <add key="RtBaseSAPWSURL" value="https://sapdevws.trafficmanager.net/MS1/MSASMPOSEARCH/api/PurchaseOrders/Search"/>
    <!--Realtrack tool-->
    <add key="RealTrackToolURL" value="http://realtrack/ "/>
    <!--GRC service settings-->
    <add key="GrcBaseSAPWSURL" value="https://sapdevws.trafficmanager.net/GRD/MSGRCIDMSTAT/api/Grc/Request"/>
    <!--for deployment-->
    <!--<add key="ActiveDirectory.RedirectUrl" value="https://asksapbot.azurewebsites.net/api/AuthResume" />-->
    <add key="ActiveDirectory.RedirectUrl" value="http://localhost:3978/api/AuthResume"/>
    <!--Document links for GRC scenarios-->
    <add key="grcApproverGuide" value="https://microsoft.sharepoint.com/teams/sapaccess/faq/Documents/SAP%20GRC%20Approver%20Guide.docx?Web=1"/>
    <add key="grcCreateReqExt" value="https://microsoft.sharepoint.com/:w:/t/SAPACCESS_BOT/EXvy7ciEhuhOtMZgQR1t2p8BSeVBhV6UT6HzyCPBifNL5g?e=7553d8e2e0d3419d8475f967a21a99e7"/>
    <add key="grcCreateReqId" value="https://microsoft.sharepoint.com/:w:/t/SAPACCESS_BOT/EXRk1eJ14zVBrE4ocgFKpFIBUusYVIaytNJYAjqatBpnWw?e=8b7fc15334954e3a8aa066dd9d569ba6"/>
    <add key="grcCreateReq" value="https://microsoft.sharepoint.com/:w:/t/SAPACCESS_BOT/EWGtzGt9_IFIohBYA-2T3_ABuyWjuMFe9Us8KR-xe4yt3A?e=85ba75d5b8c749c481ca3f4c4ec71b3b"/>
    <add key="grcCreateReqIdOth" value="https://microsoft.sharepoint.com/:w:/t/SAPACCESS_BOT/EXeJGnt2ViBIjZs-3iwc2woBflJG6QU6bIwX_0OEW2qZag?e=9ee6f542a72e4e8d82875bf098875dc9"/>
    <add key="grcCreateReqOth" value="https://microsoft.sharepoint.com/:w:/t/SAPACCESS_BOT/EULPmNi7Vl9HujkH0seSgb8BfoWqKI9bHOesMX-6CYSW5A?e=c982c0bae76347a0837018679aedc789"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <httpCookies domain="" httpOnlyCookies="true"/>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.6" debug="true"/>
    <httpRuntime requestValidationMode="4.5" targetFramework="4.6"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="X-Powered-By"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.11.1.0" newVersion="3.11.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.3.0" newVersion="5.8.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.19.0.0" newVersion="1.19.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.6.0.0" newVersion="8.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.1.0" newVersion="5.2.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>